html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 375px) {
    body {
        background-color: #FFEDDB;
        margin: 2px 2px;        
    }
    .container header p {
        font-size: x-large;
        font-weight:bolder;
    }
  }